#total-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.box-container {
  margin: 40px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

  .box-name {
    font-size: 18px;
  }

  .box-value {
    font-size: 24px;
  }
}

#income-box {
  width: 25%;
  background-color: #fff;
  color: green;
}
#expense-box {
  width: 25%;
  background-color: #fff;
  color: red;
}

#balance-box {
  width: 50%;
  background-color: cornflowerblue;
  color: #fff;
}
