.form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}

.form-box {
  display: flex;
  flex-direction: column;
  padding: 15px;

  label {
    font-size: 12px;
    color: #fff;
  }

  input {
    border-radius: 5px;
    color: #3b578c;
    padding: 5px 10px;
    width: 150px;
    height: 40px;
  }

  button {
    color: #fff;
    border: 2px solid #fff;
    background-color: #3b578c;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    margin-top: 18px;
  }

  button:hover {
    background-color: #fff;
    color: #3b578c;
  }
}
