@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: aliceblue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.title {
  color: cornflowerblue;
  padding: 20px 0;
  font-size: 24px;
}

.welcome {
  color: #fff;
  background-color: cornflowerblue;
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding: 110px 0;
}

.button-div {
  padding: 100px 0;
}

.button-to-accounting {
  background-color: #fff;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  color: cornflowerblue;
  padding: 8px 12px;
  margin: 90px 0;
  font-size: 18px;
}

.button-to-accounting:hover {
  background-color: cornflowerblue;
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
