.container {
  width: 520px;
  display: flex;
  flex-direction: column;
  background: aliceblue;
  padding-bottom: 30px;
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  gap: 10px;
}

.text {
  color: cornflowerblue;
  font-size: 28px;
  font-weight: 500;
}

.underline {
  width: 110px;
  height: 2px;
  background-color: cornflowerblue;
  border-radius: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  align-items: center;
  width: 280px;
  height: 50px;
  background-color: #6494ed40;
  border-radius: 10px;
  margin: 14px 0;
}

.input input {
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  color: #3b578c;
  font-size: 16px;
  padding: 6px;
}

input::placeholder {
  color: cornflowerblue;
}

.switch-container {
  display: flex;
  gap: 24px;
  margin: 40px 0 20px 0;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  color: #fff;
  background: cornflowerblue;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.gray {
  background-color: #6494ed40;
  color: cornflowerblue;
}

.button-div {
  margin: 50px 0 30px 0;
}

.button-to-accounting {
  background-color: #fff;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
  color: cornflowerblue;
  padding: 8px 12px;
  font-size: 18px;
}

.button-to-accounting:hover {
  background-color: cornflowerblue;
  color: #fff;
}

/* error & success msgs */

.error-msg {
  font-size: 14px;
  font-weight: 500;
  color: red;
}

.success-msg {
  font-size: 14px;
  font-weight: 500;
  color: green;
}
